---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hem";
---

<BaseLayout {pageTitle}>
  <h2>Välkommen</h2>
  <p>
    Jag heter Martin och har en hemsida. Du är på den nu. Det finns en meny där
    man kan hitta hemsidans innehåll och ibland skriver jag inlägg om saker som
    kanske är intressanta.
  </p>
  <p>
    Jobbar som systemutvecklare i Uppsala. Gillar brädspel, webbprogrammering
    och hårdrock.
  </p>
</BaseLayout>
