---

---

<header>
  <div class="header-content">
    <a href="/"><h1>DATA<span style="color: DarkRed">N</span>IST</h1></a>
    <nav>
      <ul>
        <li><a href="/">Hem</a></li>
        <li><a href="/posts">Inlägg</a></li>
        <li><a href="/links">Länkar</a></li>
        <li><a href="/about">Om mig</a></li>
        <li><a href="/contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
  <hr />
</header>

<style>
  h1:hover {
    color: initial;
  }
</style>
